<div classname="container">
    <div classname="inner-content">
        <div classname="brand">
            <link to="/">WatchList</link>
        </div>

        <ul className="nav-links">
            <li>
                <Link to="/">Watch List</link>
            </li>
            <li>
                <Link to="/watched">Watched</link>
            </li>
            <li>
                <Link to="/add" className="btn">+ Add</link>
            </li>
        </ul>
    </div>
</div>


<img src="" alt="">
   